-i https://pypi.org/simple/
aiohttp==3.11.16
async-timeout==5.0.1
atomicwrites==1.4.1
attrs==25.3.0
certifi==2025.1.31
chardet==5.2.0
idna==3.10
importlib-metadata==0.23 ; python_version < '3.8'
joblib==1.4.2
more-itertools==10.6.0
multidict==6.3.2
numpy==1.26.4
pluggy==1.5.0
pytest==8.3.5
pytest-aiohttp==1.1.0
pyyaml==6.0.2
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
slack_sdk==3.35.0
urllib3==2.3.0
yarl==1.18.3
zipp==3.21.0
