-i https://pypi.org/simple/
aiohttp==3.8.6
aioslacker==0.0.11
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==23.2.0
certifi==2024.7.4
chardet==5.2.0
idna==3.7
importlib-metadata==0.23 ; python_version < '3.8'
joblib==1.4.2
more-itertools==10.3.0
multidict==6.0.5
numpy==1.26.4
pluggy==1.5.0
pytest==8.1.1
pytest-aiohttp==1.0.5
pyyaml==6.0.1
scikit-learn==1.5.1
scipy==1.14.1
six==1.16.0
slacker==0.9.42
urllib3==2.2.2
yarl==1.9.4
zipp==3.19.2
