<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <script language="javascript" type="text/javascript">
     document.addEventListener('DOMContentLoaded', function() {
       var conn = null;
       var name = "UNKNOWN";
       var status = document.getElementById('status');
       var connectButton = document.getElementById('connect');
       var sendButton = document.getElementById('send');
       var nameLabel = document.getElementById('name');
       var textInput = document.getElementById('text');
       var logControl = document.getElementById('log');

       function log(msg) {
         var date = new Date();
         var date_prompt = '(' + date.toISOString().split('T')[1].slice(0,8) + ') ';
         logControl.appendChild(document.createTextNode(date_prompt + msg));
         logControl.appendChild(document.createElement('br'));
         logControl.scrollTop = logControl.scrollHeight;
       }
       function connect() {
         disconnect();
         var wsUri = (window.location.protocol=='https:'&&'wss://'||'ws://')+window.location.host;
         conn = new WebSocket(wsUri);
         //log('Connecting...');
         conn.onopen = function() {
           //log('Connected.');
           update_ui();
         };
         conn.onmessage = function(e) {
           var data = JSON.parse(e.data);
           switch (data.action) {
             case  'connect':
               name = data.name;
               log('Connected as ' + name);
               update_ui();
               break;
             case  'disconnect':
               name = data.name;
               log('Disconnected ' + name);
               update_ui();
               break;
             case 'join':
               log('Joined ' + data.name);
               break;
             case 'sent':
               log(data.name + ': ' + data.text);
               break;
           }
         };
         conn.onclose = function() {
           log('Disconnected.');
           conn = null;
           update_ui();
         };
       }
       function disconnect() {
         if (conn != null) {
           //log('Disconnecting...');
           conn.close();
           conn = null;
           name = 'UNKNOWN';
           update_ui();
         }
       }
       function update_ui() {
         if (conn == null) {
           status.textContent = 'disconnected';
           connectButton.textContent = 'Connect';
           sendButton.disabled = true;
         } else {
           status.textContent = 'connected (' + conn.protocol + ')';
           connectButton.textContent = 'Disconnect';
           sendButton.disabled = false;
         }
         nameLabel.textContent = name;
       }
       connectButton.addEventListener('click', function() {
         if (conn == null) {
           connect();
         } else {
           disconnect();
         }
         update_ui();
         return false;
       });
       sendButton.addEventListener('click', function() {
         var text = textInput.value;
         // log('Sending: ' + text);
         log(text);
         conn.send(text);
         textInput.value = '';
         textInput.focus();
         return false;
       });
       textInput.addEventListener('keyup', function(e) {
         if (e.keyCode === 13) {
           sendButton.click();
           return false;
         }
       });
     });
    </script>
  </head>
  <body>
    <h3>Chat!</h3>
    <div>
      <button id="connect">Connect</button>&nbsp;|&nbsp;Status:
      <span id="name">UNKNOWN</span>
      <span id="status">disconnected</span>
    </div>
    <div id="log"
         style="width:20em;height:15em;overflow:auto;border:1px solid black">
    </div>
    <form id="chatform" onsubmit="return false;">
      <input id="text" type="text" />
      <input id="send" type="button" value="Send" disabled/>
    </form>
  </body>
</html>
