# lint
flake8==3.9.2

# test
pytest==3.5.0
pytest-aiohttp


# dev
psycopg2

# docs
pygments==2.13.0
sphinx==5.3.0
sphinxcontrib-asyncio==0.3.0
sphinxcontrib-spelling==7.6.2; platform_system!="Windows"  # We only use it in CI
