# lint
flake8==7.3.0
flake8-bugbear==24.12.12
flake8-quotes==3.4.0

# test
pytest==8.4.2
pytest-aiohttp==1.1.0


# dev
psycopg2==2.9.11

# docs
pygments==2.19.2
sphinx==8.2.3
sphinxcontrib-asyncio==0.3.0
sphinxcontrib-spelling==8.0.1; platform_system!="Windows"  # We only use it in CI
