# lint
flake8==5.0.4
flake8-bugbear==22.10.27
flake8-quotes==3.3.1

# test
pytest==7.2.0
pytest-aiohttp==1.0.4


# dev
psycopg2==2.9.5

# docs
pygments==2.13.0
sphinx==5.3.0
sphinxcontrib-asyncio==0.3.0
sphinxcontrib-spelling==7.6.2; platform_system!="Windows"  # We only use it in CI
