aiohttp==3.13.2
aiohttp-jinja2==1.6
aiohttp-graphql==1.1.0
aiodataloader==0.4.3
faker==40.4.0
trafaret_config==2.0.2
graphene==2.1.9
graphql-core==2.3.2
graphql-ws==0.4.4
psycopg2-binary==2.9.11
redis==7.1.0

mypy==1.19.1
flake8==7.3.0
pytest==9.0.2
pytest-cov==7.0.0
sqlalchemy==2.0.45
