aiohttp==3.8.6
aiopg[sa]==1.4.0
aiohttp_jinja2==1.5.1
aiohttp_graphql==1.1.0
aiodataloader==0.4.0
faker==26.0.0
trafaret_config==2.0.2
graphene==2.1.9
graphql-core==2.3.2
graphql-ws==0.4.4
psycopg2-binary==2.9.9
redis==5.0.7

mypy==1.10.1
flake8==7.1.0
pytest==8.3.3
pytest-cov==5.0.0
