<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
      <style>
        .inline-form { display: inline; }
      </style>
    </head>
    <body>

        <div>
            Microblog:
            <a href="{{ url('index') }}">Home</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url('login') }}">Login</a>
            {% else %}
                <form action="{{ url('logout') }}" method="post" class="inline-form">
                    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                    <button type="submit">Logout</button>
                </form>
                <a href="{{ url('create-post') }}">Write</a>
            {% endif %}
        </div>
        <hr>

    {% block content %}{% endblock %}

    </body>
</html>