{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ],
    "preact"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            },
            "modules": "commonjs"
          }
        ],
        "preact",
        "jest"
      ]
    }
  }
}
