-e .
aiohttp==3.8.3
flake8
flake8-bugbear==22.9.23
flake8-quotes==3.3.1
ipdb==0.13.9
mypy==0.982
numpy==1.23.4
pandas==1.5.1
pytest
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest-sugar
scikit-learn==0.21.3
