-e .
aiohttp==3.7.4
flake8-bugbear==17.12.0
flake8-mypy==17.8.0
flake8-quotes==0.13.0
flake8==3.5.0
ipdb==0.10.3
mypy==0.560
numpy==1.14.2
pandas==0.22.0
pytest-aiohttp==0.3.0
pytest-asyncio==0.8.0
pytest-cov==2.5.1
pytest-sugar==0.9.0
pytest==3.3.1
scikit-learn==0.19.1
