aiohttp==3.13.1
trafaret==2.1.1
pyyaml==6.0.3
numpy==2.3.4
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.16.2


flake8==7.3.0
flake8-bugbear==24.12.12
flake8-quotes==3.4.0
ipdb==0.13.13
mypy==1.18.2
pytest==8.4.2
pytest-aiohttp==1.1.0
pytest-asyncio==0.26.0
pytest-cov==7.0.0
pytest-sugar==1.1.1
