<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="{{ url('static', filename='css/style.css') }}">
<div class=page>
  <h1>MotorTwit</h1>
  <div class=navigation>
  {% if user and user.username  %}
    <a href="{{ url('timeline') }}">my timeline</a> |
    <a href="{{ url('public_timeline') }}">public timeline</a> |
    <form action="{{ url('logout') }}" method=post class="inline-form">
      <input type=hidden name="_csrf" value="{{ csrf_token }}">
      <button type=submit class="link-button">logout [{{ user.username }}]</button>
    </form>
  {% else %}
    <a href="{{ url('public_timeline') }}">public timeline</a> |
    <a href="{{ url('register') }}">register</a> |
    <a href="{{ url('login') }}">login in</a>
  {% endif %}
  </div>
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    MiniTwit &mdash; A aiohttp application
  </div>
</div>
