aiohttp==3.8.5
aiohttp-jinja2==1.5.1
aiohttp_security[session]==0.4.0
asyncpg==0.28.0
asyncpgsa==0.27.1
bcrypt==4.0.1
pytoml==0.1.21
redis==5.0.0
sqlalchemy==1.4.45

# testing
pytest==7.4.1
pytest-aiohttp==1.0.4
pytest-asyncio==0.21.1
flake8==6.1.0
