aiohttp==3.11.14
aiohttp-jinja2==1.6
aiohttp-security[session]==0.5.0
asyncpg==0.30.0
bcrypt==4.3.0
pytoml==0.1.21
redis==5.2.1
SQLalchemy==2.0.39

# testing
pytest==8.3.5
pytest-aiohttp==1.1.0
pytest-asyncio==0.25.3
flake8==7.1.2
