aiohttp==3.8.3
aiohttp-jinja2==1.5
aiohttp_security[session]==0.4.0
asyncpg==0.27.0
asyncpgsa==0.27.1
bcrypt==4.0.1
pytoml==0.1.21
redis==4.3.4
sqlalchemy==1.4.42

# testing
pytest==7.2.0
pytest-aiohttp==1.0.4
pytest-asyncio==0.20.1
flake8==3.9.2
