name: CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'


jobs:

  lint:
    name: Linter
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
        cache: 'pip'
        cache-dependency-path: '**/requirements*.txt'
    - name: Install dependencies
      run: |
        make install
    - name: Run linters
      run: |
        make lint
    - name: Install libenchant
      run: sudo apt-get install libenchant-2-dev
    - name: Run docs spelling
      run: |
        make doc-spelling

  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
        cache: 'pip'
        cache-dependency-path: '**/requirements*.txt'
    - name: Install dependencies
      run: |
        make install
    - name: Run tests
      run: |
        PYTHONASYNCIODEBUG=1 make test

  doc:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3
    - name: Install sphinx
      run: pip install sphinx
    - name: Documentation
      run: |
        make doc
